doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title= title + ' — Hack Cambridge'
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    meta(name='author' content='Hack Cambridge Team')
    meta(name='language' content='en')
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(property='og:title' content=title + ' — Hack Cambridge')
    meta(property='og:url' content=requestedUrl.href)
    meta(property='og:description' content=description)
    meta(property='og:image' content=requestedUrl.protocol + '/' + requestedUrl.host + asset('images/fb-share.png'))
    link(rel='stylesheet' type='text/css' href=asset('styles/all-stylesheets.css'))
    block extraStyles
    link(rel='stylesheet' type='text/css' href='https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGrotesk/PxGroteskRegular-Regular.css')
    link(rel='stylesheet' type='text/css' href='https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGrotesk/PxGroteskScreen-Regular.css')
    link(rel='stylesheet' type='text/css' href='https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGrotesk/PxGroteskLight-Regular.css')
    link(rel='stylesheet' type='text/css' href='https://hackcambridgeassets.s3.amazonaws.com/fonts/PxGrotesk/PxGroteskBold-Regular.css')
    link(rel='icon' href=asset('images/favicons/favicon.png') sizes='512x512' type='image/png')
    link(rel='icon' href=asset('images/favicons/favicon.ico') sizes='16x16 24x24 32x32 48x48 64x64 96x96 128x128 256x256' type='image/vnd.microsoft.icon')
    link(rel='icon' href=asset('images/favicons/favicon.svg') sizes='any' type='image/svg+xml')
    link(rel='icon' type='image/png' sizes='32x32' href=asset('images/favicons/favicon-32x32.png'))
    link(rel='icon' type='image/png' sizes='16x16' href=asset('images/favicons/favicon-16x16.png'))
    link(rel='apple-touch-icon' sizes='180x180' href=asset('images/favicons/apple-touch-icon.png'))
    link(rel='mask-icon' href=asset('images/favicons/safari-pinned-tab.svg') color='#f93822')
    link(rel='shortcut icon' href=asset('images/favicons/favicon.ico'))
    link(rel='manifest' href='/favicons/manifest.json')
    //meta(name='apple-mobile-web-app-title' content=#{'HC ' + event.theme.getEventName()})
    //meta(name='application-name' content=#{'HC ' + event.theme.getEventName()})
    meta(name='msapplication-config' content='/favicons/browserconfig.xml')
    meta(name='theme-color' content='#ffffff')
  body
    dialog(id='dialog-element' data-controller='alert' data-target='alert.dialog' data-action='alert@window->alert#alert' data-alert-message=(alertMessage || null))
      p(data-target='alert.message')
      button(data-action='alert#dismissDialog') Okay.
    if browserSync
      !=browserSync
    block content
    block scripts
    script(type='text/javascript' src=asset('scripts/main.js'))
    // Facebook Pixel Code
    script.
      ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
      n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
      }(window, document, 'script', '//connect.facebook.net/en_US/fbevents.js');
      fbq('init', '412352858960781');
      fbq('track', "PageView");
    noscript
      img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=412352858960781&ev=PageView&noscript=1')
    // Google Analytics
    script.
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-2529322-33', 'auto');
      ga('send', 'pageview');
