extends layouts/base
block content
  include mixins/dates
  include mixins/svg-elements
  -
    title = event.theme.getEventName()
    description = 'Hack Cambridge' + event.theme.getEventName() + ' ' + event.dates.getHackathonStartDate().year()
    keywords = 'hack,cambridge,' + event.theme.getEventName().toLowerCase() + '' + event.dates.getHackathonStartDate().year()
    layoutMode = 'width'
  include includes/trust-badge
  main(layout=layoutMode)
    div(fixed='' grid='grid' sidebar='' columns='7.5' rows='4.5')
      img(draggable='false' src=asset('images/logo.svg'))
      div
      div
    section(grid='grid' sidebar='' columns='7.5' rows='4.5')
      img(draggable='false' src=asset('images/logo.svg'))
      div(grid='rows')
        h1(rows='2.0')
          | Hack
          br
          | Cambridge
          br
          span.pixel 4D
        div(rows='1.5')
          p
            | From the
            |
            time(datetime=event.dates.getHackathonStartDate().format())
              +dayWithSuperscript(event.dates.getHackathonStartDate())
            |
            | to the
            |
            time(datetime=event.dates.getHackathonEndDate().format())
              +shortDateWithSuperscript(event.dates.getHackathonEndDate())
            | , the University of Cambridge’s annual hackathon yet again brought together outstanding hackers, programmers, designers and more from universities all over the world to build amazing software.
            br
            | For 24 hours they built, broke and innovated to produce projects that push the boundaries of technology.
          p Thank you for joining us.
      div(grid='grid' dense rows='2.5' columns='1.0')
        a.icon(columns='1.0' rows='1.0' rel='external' href='https://www.facebook.com/hackcambridge')
          +icon('Facebook')
        a.icon(columns='1.0' rows='1.0' rel='external' href='https://twitter.com/@hack_cambridge')
          +icon('Twitter')
        a.icon(columns='1.0' rows='1.0' rel='external' href='https://medium.com/hackers-at-cambridge/tagged/hack-cambridge')
          +icon('Medium')
        a.icon(columns='1.0' rows='1.0' rel='external' href='https://www.instagram.com/hack_cambridge/')
          +icon('Instagram')
    section(grid='grid' sidebar='' columns='7.5')
      div
      div(grid='rows' rows='1.5')
        strong(rows='0.5') Curious about the event?
        div(grid='rows' rows='1.0')
          a.icon(rel='next' href='/event')
            +icon('Events', 'Event page')
            br
            | Find out what happened on the event page
      div
    if moment().isAfter(event.dates.getApplicationsEnd()) && moment().isBefore(event.dates.getHackathonStartDate())
      section(grid='grid' sidebar='' columns='7.5' color='blue')
        div
        div(grid='rows' rows='1.0')
          a.icon(rel='next' href='/apply/dashboard')
            +icon('Log in')
            br
            | Log in with MyMLH to access your application
        div
    if moment().isAfter(event.dates.getApplicationsEnd().subtract(1, 'weeks')) && moment().isBefore(event.dates.getApplicationsEnd())
      section(grid='grid' sidebar='' columns='7.5' color='blue')
        div
        div(grid='rows' rows='1.0')
          if moment().isBefore(event.dates.getApplicationsEnd().subtract(2, 'day'))
            strong(rows='0.5') Applications close this #{event.dates.getApplicationsEnd().format('dddd')}!
          else if moment().isBefore(event.dates.getApplicationsEnd().subtract(1, 'day'))
            strong(rows='0.5') Applications close tomorrow!
          else
            strong(rows='0.5') Applications close today at #{event.dates.getApplicationsEnd().format('HH:mm')}!
          div(rows='0.5')
            p Submit your application before time runs out!
        div
    section(grid='grid' sidebar='' columns='7.5' color='red')
      div
      div(grid='rows' rows='1.5')
        strong(rows='0.5')
          if moment().isBefore(event.dates.getApplicationsStart())
            if moment().isAfter(event.dates.getApplicationsStart().subtract(1, 'weeks'))
              | Applications for Hack Cambridge 2019 open soon.
            else
              | Applications open this #{event.dates.getApplicationsStart().format('dddd')}!
          else if moment().isBefore(event.dates.getApplicationsEnd())
            if moment().isAfter(event.dates.getApplicationsEnd().subtract(1, 'weeks'))
              | Applications close soon!
            else
              | Applications are open!
          else if moment().isBefore(event.dates.getHackathonEndDate())
            | Applications have closed for this year.
          else
            | Hack Cambridge is finished for this year.
        if moment().isBefore(event.dates.getApplicationsStart())
          p(rows='0.5')
            if moment().isBefore(event.dates.getApplicationsStart().subtract(1, 'weeks'))
              | Sign up to stay in the loop!
            else
              | Sign up to be reminded.
          include includes/email-sign-up-form
        else if moment().isBefore(event.dates.getApplicationsEnd())
          if user
            nav(grid='grid' rows='1.0')
              include includes/navigation
          else
            a.icon(rel='next' href='/apply/dashboard')
              +icon('Log in')
              br
              | Log in with MyMLH to start, continue, or access your application
        else
          p(rows='0.5') Sign up for information about next year!
          include includes/email-sign-up-form
      ul(rows='0.5')
        li
          a.icon(rel='next' href='/faqs')
            +icon('Help')
    section(grid='columns' sidebar='' columns='7.5')
      div
      div(grid='rows')
        h2(rows='1.0') Sponsors
        div(rows='1.5')
          p A massive thank you to all of our sponsors for Hack Cambridge 4D! We couldn’t have done it without you.
          p Interested in sponsoring Hack Cambridge next year?
          a(href='mailto:sponsorship@hackcambridge.com') Send us an email
        if sponsors
          for sponsorTier, key in sponsors
            if sponsorTier.items != null && sponsorTier.items.length != 0
              h4(rows='1.0')= sponsorTier.name
              .sponsor-logos-group(rows=sponsorTier.rows)
                for sponsor in sponsorTier.items
                  div(grid='columns')
                    a(columns=sponsorTier.columns href=sponsor.website target='_blank' rel='external')
                      +sponsorLogo(sponsor.name)
      div
  footer(grid='grid' sidebar='' columns='7.5' layout=layoutMode)
    div
    div(rows='2.0')
      include includes/footer
    div
