mixin icon(humanName, caption = name)
  svg.icon(width='28.5pt' height='28.5pt' viewbox='0 0 11 11' preserveaspectratio='xMidYMid')
    title= caption
    - name = humanName.toLowerCase().replace(' ', '-')
    - file = 'images/icons/' + name + '.svg#icon'
    clippath(id=`${name}ClipPath`)
      use(x='0' y='0' xlink:href=asset(file))
    use(x='0' y='0' xlink:href=asset(file) clip-path=`url(#${name}ClipPath)`)

mixin sponsorLogo(humanName)
  - name = humanName.toLowerCase().replace(' ', '-')
  - file = 'images/sponsors-logos/' + name + '.svg#icon'
  img(style='width: 100%; max-height: 85pt' draggable='false' alt=humanName src=asset(file))
