extends ../layouts/width
block mainContent
  -
    title = 'Dashboard'
    roomShareForm = undefined
    visaForm = 'https://docs.google.com/forms/d/e/1FAIpQLSflkf8VJrgARSTfgGb_cPiiu3i6YeatCbIqQQXfD3wdBbf_NQ/viewform'
  // To obtain this link, see https://stackoverflow.com/a/44883343/618502 and https://api.slack.com/docs/deep-linking
  - openSlackLink = 'slack://open?team=TEN04697S'
  section(grid='rows')
    h1(rows='1.0')= title
    div(rows='1.5')
      p= statusMessages['overall-status-messages'][statuses.overallStatus].title
      p= statusMessages['overall-status-messages'][statuses.overallStatus].subline
      if application
        p
          | Your application ID is 
          span.pixel= application.applicationSlug
          | .
  // Section for info about RSVPs
  if statuses.rsvpStatus == statusConstants.rsvp.INCOMPLETE || statuses.rsvpStatus == statusConstants.rsvp.COMPLETE_EXPIRED
    section
      form(method='POST' action='/apply/rsvp' grid='rows')
        h3(rows='1.0') Respond to your invitation
        h4(rows='1.0'): span.pixel= statusMessages['rsvp'][statuses.rsvpStatus].label
        p(rows='1.0')= statusMessages['rsvp'][statuses.rsvpStatus].content
        if statuses.rsvpStatus == statusConstants.rsvp.INCOMPLETE
          div(rows='1.5')
            div
              input#rsvp-yes(type='radio' name='rsvp' value='RSVP_YES' required='true')
              |
              |
              label(for='rsvp-yes') I’ll be attending Hack Cambridge.
            div
              input#rsvp-no(type='radio' name='rsvp' value='RSVP_NO' required='true')
              |
              |
              label(for='rsvp-no')
                | I 
                strong won’t
                |  be attending Hack Cambridge.
            div
              input#rsvp-confirmation(type='checkbox' name='confirmation' value='confirmation' required='true')
              |
              |
              label(for='rsvp-confirmation') I confirm my response.
          div(rows='0.5')
            button(type='submit' name='submit') Submit!
        if statusMessages['rsvp'][statuses.rsvpStatus].action
          ul
            li
              a(href= statusMessages['rsvp'][statuses.rsvpStatus].action.location, rows='0.5')
                = statusMessages['rsvp'][statuses.rsvpStatus].action.title
  if statuses.responseStatus == statusConstants.response.INVITED && statuses.rsvpStatus != statusConstants.rsvp.COMPLETE_NO && statuses.rsvpStatus != statusConstants.rsvp.COMPLETE_EXPIRED
    section(grid='grid' color='red')
      div(columns='4.0' rows='3.0' grid='rows')
        h3(rows='1.0') Date and time
        p
          | 09:00 #{hackathonStartDate}–18:00 #{hackathonEndDate}.
          br
          | Times subject to change.
      div(columns='3.0' rows='3.0' grid='rows')
        h3(rows='1.0') Location
        div
          p: address
            | Cambridge Corn Exchange
            br
            | 2 Wheeler St
            br
            | Cambridge
            br
            | CB2 3QB
            br
          ul
            li: a(href='https://goo.gl/maps/TypmzToZ2yq' target='_blank') View on Google Maps
            li: a(href='https://maps.apple.com/place?&auid=5916990408850136741' target='_blank') View on Apple Maps
  if statuses.responseStatus == statusConstants.response.INVITED && statuses.rsvpStatus != statusConstants.rsvp.COMPLETE_NO && statuses.rsvpStatus != statusConstants.rsvp.COMPLETE_EXPIRED
    section(grid='grid')
      if visaForm
        div(columns='5.5' rows='2.5' grid='rows')
          h3(rows='1.0') Visas
          div
            p If you need an invitation letter for a visa, please request one below.
            ul
              li: a(href=visaForm target='_blank') Request invitation letter for visa
      if roomShareForm
        div(columns='5.5' rows='4.5' grid='rows')
          h3(rows='1.0') Accommodation
          div
            p
              | For those travelling from further afield, we try to find a host in Cambridge who will provide a place to sleep on the night before Hack Cambridge (the #{fridayBeforeHackathonDate}), in which case you’ll only need to bring a sleeping bag and pillow. However, at present, we can’t guarantee you a place, so please apply
              |
              if statuses.overallStatus == statusConstants.overall.HAS_TICKET
                | now if you want to be hosted!
              else
                | straight away after accepting your invitation, using the form which appears in this section.
              |
              | We will reply as soon as possible indicating whether we can find you a host. Hackers coming from international destinations will be prioritised.
            if statuses.overallStatus == statusConstants.overall.HAS_TICKET
              ul
                li: a(href=roomShareForm target='_blank') Apply for accommodation
      div(columns='4.5' rows='5.5' grid='rows')
        h3(rows='1.0') Travel cost reimbursements
        div
          p We aim to reimburse a part of your travel costs. The amount you will be able to claim depends on how far you’ve travelled:
          ul
            li Up to £30 for distances as far as London,
            li Up to £50 for distances as far as Manchester,
            li Up to £70 for distances further than Manchester (including international destinations).
          p We will send more details on travel reimbursements, and may process them at the event, so keep your receipts and bring them with you!
          p
            strong Note:
            |
            | We don’t reimburse parking costs or travel costs if you study in Cambridge. Please be responsible when claiming travel reimbursements and only do so if appropriate—we reserve the right to deny travel reimbursements.      
  if statuses.overallStatus == statusConstants.overall.HAS_TICKET
    section(grid='grid')
      h3(rows='1.0' columns='all') Travel advice
      div(rows='3.0' columns='5.0')
        h4 By rail
        p The nearest train station is Cambridge. Then take the route U bus towards Eddington to Pembroke Street (15 minutes and £1 with student ID) or walk (30 minutes). 
        ul
          li: a(href='http://www.nationalrail.co.uk/stations/CBG/details.aspx' target='_blank') Cambridge station
          li: a(href='http://www.go-whippet.co.uk/new-route-u/') Route U bus
      div(rows='3.0' columns='5.0')
        h4 By air
        p We recommend flying into Stansted. Then take a Greater Anglia or CrossCountry train to Cambridge (30 minutes and about £10) or a National Express coach to Cambridge (50 minutes and about £8).
        ul
          li: a(href='http://www.nationalrail.co.uk' target='_blank' rows='0.5') Train information
          li: a(href='https://www.nationalexpress.com/en/airports/stansted' target='_blank' rows='0.5') Coach information
      div(rows='3.0' columns='5.0')
        h4 By car
        p Please avoid driving to Cambridge—parking is difficult to find and expensive. If you must drive, we recommend the park&ride service, which is less expensive.
        ul
          li: a(href='http://www.cambridgeparkandride.info' target='_blank') Cambridge park&ride
      div(rows='2.0' columns='5.0')
        h4 Other questions
        p If you have any other questions about travel, please email our logistics team.
        ul
          li: a(href='mailto:logistics@hackcambridge.com') Email the logistics team
      h3(rows='1.0' columns='all') On the day
      div(rows='3.5' columns='5.0')
        h4 What to bring
        ul
          li Photo ID: have this ready at the entrance.
          li A note of your application ID
            |
            | (
            span.pixel= application.applicationSlug
            | ): have this ready at the entrance.
          li
        p Since you will be here overnight, quiet spaces will be available for sleeping, but we recommend taking a sleeping bag. Don’t forget your toothbrush, and possibly a spare change of clothes.
      if openSlackLink
        div(rows='4.0' columns='5.0')
          h4 Slack
          p You should have received an invite to our Slack team. Make sure to accept the invite and join in to meet everyone. If you didn’t receive an invite, let us know straight away. Don’t worry if you haven’t used Slack before: it’s a team messaging app, allowing everyone to easily contact each other—great for getting quick answers to questions you might have about Hack Cambridge or meeting your teammates!
          ul
            li: a(href=openSlackLink) Go to the Slack team
            li: a(href='https://slack.com/downloads' target='_blank') Download the mobile or desktop app
      // If not in team
      if statuses.teamApplicationStatus != statusConstants.teamApplication.COMPLETE
        div(rows='2.0' columns='4.0')
          h4 Finding your teams
          if application.wantsTeam
            p You said that you wanted to have a team chosen for you for the hackathon. We’ll be sending you some allocations soon!
          else
            p There’ll be opportunities to find team members on the day. We’ll be sending out more information regarding this shortly.
  if statuses.overallStatus == statusConstants.overall.INCOMPLETE || statuses.overallStatus == statusConstants.overall.IN_REVIEW
    section(grid='rows')
      h3(rows='0.5') Your application
      div(rows='1.0')
        p= statusMessages['your-application'][statuses.applicationStatus].content
        if statusMessages['your-application'][statuses.applicationStatus].action
          ul
            li: a(href=statusMessages['your-application'][statuses.applicationStatus].action.location)
            = statusMessages['your-application'][statuses.applicationStatus].action.title
    if statuses.applicationStatus == statusConstants.application.COMPLETE
      section(grid='rows')
        h3(rows='0.5') Team application
        div(rows='1.5')
          p= statusMessages['team-application'][statuses.teamApplicationStatus].content
          if statusMessages['team-application'][statuses.teamApplicationStatus].action
            ul
              li: a(href=statusMessages['team-application'][statuses.teamApplicationStatus].action.location)
              = statusMessages['team-application'][statuses.teamApplicationStatus].action.title
        if statuses.teamApplicationStatus == statusConstants.teamApplication.COMPLETE
          div(rows='1.0')
            ul
              for hacker in teamMembers
                li= hacker.firstName + ' ' + hacker.lastName
        div(rows='1.5')
          p If you need to make changes to your team, get in touch with us.
          a(href='mailto:team@hackcambridge.com') Get in touch
