extends ../layouts/width
block mainContent
  - title = 'Ternary'
  nav(grid='grid')
    include ../includes/event/navigation
  section(grid='rows')
    h1(rows='1.0') Hacking
  section(grid='grid' color='blue')
    div(rows='2.0' columns='all' grid='rows')
      h3(rows='1.0')
        +icon('Upload', 'Submit your hack')
        | Submit your hack
      div(rows='1.0')
        p We use Devpost for hack submissions.
        a(href='https://hackcambridge4d.devpost.com/') Go to Devpost
    div(rows='3.0' columns='7.0')
      h4 How to submit your hack
      ul
        li Every member of your team needs to have a Devpost account.
        li Only one person needs to submit the hack: to do this click ‘Enter a Submission’.
        ol
          li Provide a good overview of what you’ve developed in the description field. This will be used as criteria to assess your hack. Do use screenshots if you wish.
          li Enter your team members’ Devpost accounts.
          li Choose the challenge or challenges to enter for.
    div(rows='1.0' columns='6.0')
      ul
        h4 Rules
        li
          | You must submit your hack before hacking ends at
          |
          span.pixel #{event.dates.getHackingPeriodEnd().format('HH:MM:SS')} UTC
        li You must submit all relevant source code
  section(grid='grid')
    h3(rows='1.0' columns='all')
      +icon('Tech', 'Hardware')
      | Get hardware
    div(rows='2.0' columns='6.0')
      p We’ll have a range of hardware for you to make use of during the event. You can sign out hardware shortly before and during the event, first-come first-served. If you&rsquo;re particularly keen to use some of the equipment, make sure to get in there early!
      a(rel='external' href=hardwareLabLink) Get hardware from the MLH Hardware Lab
    h3(rows='1.0' columns='all')
      +icon('API', 'APIs')
      | Find APIs
    for api in apis
      div(columns='6.0' rows=api.rows || '1.5')
        h4(rows='1.0')= api.name
        div
          p!= api.description
          if api.extraDescription
            != api.extraDescription
          if api.link
            a(rel='external' href=api.link) Documentation
          if api.prizes
            p!= api.prizes
    h3(rows='1.0' columns='all')
      +icon('Trophy', 'Prizes')
      | Look up prizes
    for prize in prizes
      div(columns='6.0' rows=prize.rows || '2.0')
        h4(rows='1.0')!= prize.title
        div
          if prize.description
            p!= prize.description
          if prize.prize
            p.accent!= prize.prizes
          if prize.extraDescription
            != prize.extraDescription
