extends ../layouts/width
block mainContent
  - title = 'Ternary'
  section(grid='rows')
    nav(grid='grid' rows='1.0')
      include ../includes/event/navigation
  section(grid='rows')
    h1(rows='1.0') Schedule
  section(grid='grid')
    div(rows='2.0' columns='all' grid='rows')
      h3(rows='1.0' columns='all') Product Demos
      div(rows='1.0')
        p These are shorter, tech-focussed talks. We will announce each talk on stage just before it begins.
    for demo in demos
      div(columns='6.0' rows='1.5' grid='grid')
        h4(rows='1.0' columns='1.0'): span.pixel!= demo.time.format('HH:mm')
        div(rows='1.0' columns='4.0')
          h4
            = demo.name
            address Guildhall
    div(rows='2.0' columns='all' grid='rows')
      h3(rows='1.0' columns='all') Workshops
      div(rows='1.0')
        p These are longer, tech-focussed talks. We will announce each talk on stage just before it starts.
    for workshop in workshops
      div(columns='6.0' grid='grid' rows=workshop.rows)
        h4(rows='1.0' columns='1.0'): span.pixel!= workshop.time.format('HH:mm')
        div(rows=workshop.rows columns='4.0')
          h4
            != workshop.name
            address Guildhall
          if workshop.description
            p!= workshop.description
          if workshop.extraDescription
            != workshop.extraDescription
  section(grid='grid')
    for item in schedule
      h3(rows='1.0' columns='all')!= item.day
      for entry in item.entries
        div(columns='6.0' grid='grid' rows=entry.rows || '1.0')
          h4(rows='1.0' columns='1.0'): span.pixel!= entry.time.format('HH:mm')
          div(columns='4.0' rows=entry.rows || '1.0')
            for event in entry.events
              h4!= event.name
              if event.subevents
                for subevent in event.subevents
                  p #{subevent.time.format('HH:mm')}: #{subevent.name}
